[Unit]
Description=postgrest postgrest-test
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=www-data
Environment=PGPORT=5433
ExecStart=/usr/local/bin/postgrest /etc/postgrest/postgrest-test.postgrest

[Install]
WantedBy=multi-user.target
